<!DOCTYPE html>
<html>

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Hello, world!</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js" integrity="sha512-bLT0Qm9VnAYZDflyKcBaQ2gg0hSYNQrJ8RilYldYQ1FxQYoCLtUjuuRuZo+fjqhx/qtq/1itJ0C2ejDxltZVFg==" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-tagsinput/0.8.0/bootstrap-tagsinput.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-tagsinput/0.8.0/bootstrap-tagsinput.js"></script>

    <script src="https://sahra.mobikob.com/static/js/selectize.js"></script>
    <link rel="stylesheet" href="https://sahra.mobikob.com/static/css/selectize.css">
    </script>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://cdn.ckeditor.com/4.15.0/full/ckeditor.js"></script>
    <link href="//cdnjs.cloudflare.com/ajax/libs/animate.css/3.2.0/animate.min.css" rel="stylesheet">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap-notify@3.1.3/bootstrap-notify.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10/dist/sweetalert2.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@10/dist/sweetalert2.min.css" id="theme-styles">


    <style>
        .dropdown {
            font-size: small;
            font-family: Georgia, Times, 'Times New Roman', serif;
            color: #085fa1;
        }
        
        .container-flud {
            background-color: #f3f2f1;
            padding: 0px 15px;
        }
        
        html,
        body {
            height: 100%;
            margin: 0;
            background: #f3f2f1;
        }
        
        .sendbtn {
            width: 6rem;
        }
        
        .text {
            width: 100%;
        }
        
        .deletebtn {
            width: 5.6rem;
        }
        
        .addfiles {
            width: 6rem;
        }
        
        .inpt {
            width: 60px;
            cursor: pointer;
        }
        
        .bcc {
            width: 60px;
        }
        
        .file-field.big .file-path-wrapper {
            height: 3.2rem;
        }
        
        .file-field.big .file-path-wrapper .file-path {
            height: 3rem;
        }
        /* === Wrapper Styles === */
        
        #FileUpload {
            display: flex;
            justify-content: center;
        }
        
        .wrapper {
            margin: 30px;
            padding: 10px;
            margin: 10px;
            padding: 5px;
            box-shadow: 0 19px 38px rgba(0, 0, 0, 0.30), 0 15px 12px rgba(0, 0, 0, 0.22);
            border-radius: 10px;
            background-color: white;
            width: 415px;
            width: 215px;
        }
        /* === Upload Box === */
        
        .upload {
            margin: 10px;
            height: 85px;
            border: 8px dashed #e6f5e9;
            display: flex;
            justify-content: center;
        }
        
        .upload p {
            margin-top: 8px;
            line-height: 0;
            font-size: 22px;
            color: #0c3214;
            letter-spacing: 1.5px;
        }
        
        .upload__button {
            background-color: #e6f5e9;
            border-radius: 10px;
            padding: 0px 8px 0px 10px;
        }
        
        .upload__button:hover {
            cursor: pointer;
            opacity: 0.8;
        }
        /* === Uploaded Files === */
        
        .uploaded {
            background-color: #e6f5e9;
            border-radius: 5px;
            border: 1px solid #c0cec3;
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            align-items: center;
        }
        
        .file {
            display: flex;
            flex-direction: column;
        }
        
        .file__name {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: baseline;
            line-height: 0;
            color: #0c3214;
            font-size: 10px;
            letter-spacing: 1px;
        }
        
        .fa-times:hover {
            cursor: pointer;
            opacity: 0.8;
        }
        
        .file_class {
            padding: 3px;
            font-size: 24px;
            color: #0c3214;
        }
        
        .kimden {
            margin-right: 10px;
        }
        
        .attachment {
            visibility: hidden;
            display: none;
        }
        
        .selectize-input {
            overflow: inherit;
            border: 0px;
            padding: 4px 4px;
        }
        
        .progress {
            height: 5px;
        }
        
        .arrow {
            margin-left: 19px;
        }
        
        .selectize-dropdown,
        .selectize-input,
        .selectize-input input {
            font-size: 12px !important;
        }
    </style>


</head>

<body>
    <div class="container-flud">

        <div class="row d-flex align-items-center mt-1 justify-content-between">
            <div class="col-md-3 textedit d-flex justify-content-between align-items-center">
                <div class="sendbtn">
                    <button id="send_button" type="button" onclick="control_mail()" class=" align-items-center justify-content-center mx-auto sendbtn d-flex btn-sm btn btn-outline-primary bd-highlight"><span
                            class=" d-flex align-items-center mr-1 fa fa-send"></span>Gönder</button>

                </div>
                <div class="deletebtn ml-1">
                    <button type="button" class=" d-flex align-items-center justify-content-center ml-1 deletebtn mx-auto flex-fill d-flex btn-sm btn btn-outline-danger bd-highlight"><span
                            class=" d-flex align-items-center mr-1 fa fa-trash"></span>İptal</button>

                </div>
                <div class="addfiles ml-1">
                    <button type="file" id="custom_file_btn" class="d-flex align-items-center justify-content-center ml-1 mx-auto flex-fill d-flex deletebtn btn-sm btn btn-outline-secondary bd-highlight" value=""><span class=" d-flex align-items-center mr-1 fa fa-paperclip "></span>Ekle</button>
                </div>
                <div class="form-group attachment col-md-3">
                    <div class="col-md-9">
                        <span class="btn btn-default btn-file">
                            <input id="input_file" type="file" style="display:none;" class="file" multiple=""
                                data-show-upload="true" data-show-caption="true">
                        </span>
                    </div>
                </div>
            </div>
            <div class="col-md-8 textedit d-flex align-items-center justify-content-end">
                <select class="col-md-3 kimden form-control form-control-sm" id="select_mailbox">
                    <option selected="" value="none">-Kimden-</option>
                    <option username="destek@sahratelekom.com" value="6">Sahra Telekom Destek</option>
                    <option username="tarife@sahratelekom.com" value="7">Sahra Telekom Tarife</option>
                    <option username="teknik@sahratelekom.com" value="5">Sahra Telekom Teknik</option>
                    <option username="gokhan@sahratelekom.com" value="13">gökhan yıldız</option>
                    <option username="info@sahratelekom.com" value="11">Sahra Telekom Info</option>
                    <option username="crm@sahratelekom.com" value="12">CRM Sahra</option>
                </select>
                <select id="select_template" class="col-md-3 form-control form-control-sm">
                    <option value="none" selected="">-Şablon Listesi-</option>
                    <option value="5e0f29cf6fb85c27919582c6">Sth TL Tarife</option>
                    <option value="5e2985226fb85c5b5d40b5ef">Tarife İmza</option>
                    <option value="5e32b52f6fb85c67ebf29e29">Tarife Şablon</option>
                    <option value="5e32d63d6fb85c7f5678b927">Türkiye Fiyatları Tarife</option>
                    <option value="5e3933cc6fb85c288052fe5f">sahra_int_callcenter</option>
                    <option value="5e43af776fb85c41a7e19afd">Teknik imza</option>
                    <option value="5e56383f6fb85c37e065513e">50 firma için örnek mail</option>
                    <option value="5e58c7076fb85c15a70b6ab8">callshop_tarife</option>
                    <option value="5eb540a26fb85c6752bfd274">CRM_tanıtım</option>
                    <option value="5ecfa05b6fb85c0ed89303c4">Module Promotion Mobimail</option>
                    <option value="5ecfc9d06fb85c0784aeae48">Module Promotion Chat</option>
                    <option value="5ecfc9fe6fb85c0781c2afb2">Module Promotion SMS</option>
                    <option value="5ecfca2f6fb85c0788d9965f">Module Promotion Task</option>
                    <option value="5ecfca5b6fb85c0788d99660">Module Promotion CRM</option>
                    <option value="5ecfca836fb85c0783e984df">Module Promotion PBX</option>
                    <option value="5ecfcb426fb85c078792eb5d">Module Promotion Authentications</option>
                    <option value="5ede04116fb85c36f490592f">Sahra/Cli manupulasyon</option>
                    <option value="5ef1e5fd6fb85c054a243c6e">Hasan İmza</option>
                </select>
            </div>
        </div>
        <div class="row d-flex align-items-center mt-1 ">
            <div class="input-group col-md-12 input-group-sm mb-1 ">
                <div class="input-group-prepend position-relative ">
                    <button data-toggle="collapse" data-target="#hidden_cc_area" title="Cc Bcc" class="inpt btn input-group-text" id="inputGroup-sizing-sm ">Kime<span id="arrow"
                            class="ml-1 fa fa-arrow-circle-o-down"></span></button>
                </div>
                <input id="mail_to" type="text" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm">
            </div>
            <div class="col-md-12 collapse" id="hidden_cc_area">
                <div data-toggle="collapse" data-target="#hidden_bcc_area" class="input-group input-group-sm mb-1">
                    <div class="input-group-prepend">
                        <span class="input-group-text inpt " id="inputGroup-sizing-sm ">Cc<span id="arrow"
                            class="arrow fa fa-arrow-circle-o-down"></span></span>
                    </div>
                    <input id="mail_cc" type="text" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm">
                </div>
            </div>
            <div class="col-md-12 collapse" id="hidden_bcc_area">
                <div class="input-group input-group-sm mb-1">
                    <div class="input-group-prepend">
                        <span class="input-group-text bcc" id="inputGroup-sizing-sm ">Bcc</span>
                    </div>
                    <input id="mail_bcc" type="text" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm">
                </div>
            </div>

            <div class="input-group col-md-12 input-group-sm mb-1 ">
                <div class="input-group-prepend">
                    <span class="input-group-text inpt" id="inputGroup-sizing-sm ">Konu</span>
                </div>
                <input id="mail_subject" type="text" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm">
            </div>
        </div>
        <div class=" sendmail">

            <!--textarea-->
            <div class=" text">
                <textarea id="editor1" name="editor1"></textarea>

            </div>

        </div>
        <div class="col-md-12">
            <div class="row justify-content-md-start" id="file_upload_area">
            </div>
        </div>
    </div>
</body>

<html>
<!-- ----------------------- SCRIPT --------------------------------------------------------------------------------------------------------------->

<script>

    var uploaded_file_size = 0;
    var customer_data = new Array();

    function control_mail() {
        var data = check_mail_form(); // chackmailform dan dönen cevabı atadık
        if (data.result == false) {
            if (data.type == "info") {
                $.notify(data);
                return;
            }
            if (data.type == "ask") {
                Swal.fire({
                    title: 'Emin misiniz?',
                    text: "Gövde boş olarak gönderilsin mi?",
                    icon: 'info',
                    showCancelButton: true,
                    confirmButtonColor: '#3085d6',
                    cancelButtonColor: '#d33',
                    confirmButtonText: 'Gönder',
                    cancelButtonText: 'İptal'
                }).then((result) => {
                    if (result.isConfirmed) {
                        send_mail();
                    }
                })
            }

        }
        if (data.result == true) {
            send_mail();
        }

    }

    function identifyMailBody(body) {
        return `<div class='mobimail-message' id='give_id'>${body}</div>`;
    }

    function prepareFormData() {
        var conversation_id = "new";
        var mail_body = CKEDITOR.instances.editor1.getData();
        var mailbox = $("#select_mailbox option:selected").val();
        var mail_from = $("#select_mailbox option:selected").attr("username");
        var mail_to = $("#mail_to").val();
        var mail_subject = $("#mail_subject").val();
        if ("new" != "new") conversation_message_subject = "<p>None</p>";

        var mail_cc = $("#mail_cc").val();
        var mail_bcc = $("#mail_bcc").val();

        var attachments = new Array();

        $.each($(".uploaded"), function(key, item) {
            attachments.push(item.id);
        })

        attachments = attachments.join(",");

        var tz = new Date().getTimezoneOffset();

        var formData = new FormData();

        formData.append("conversation_message_status", "status1")
        formData.append("message", mail_body);
        formData.append("customerid_list", JSON.stringify(new Array()));
        formData.append("deleted_files", JSON.stringify(new Array()));
        formData.append("send_from", mail_from);
        formData.append("send_to", mail_to);
        formData.append("mailbox", mailbox);
        formData.append("send_cc", mail_cc);
        formData.append("send_bcc", mail_bcc);
        formData.append("subject", mail_subject);
        formData.append("attachments", attachments);
        formData.append("conversation_id", conversation_id);
        formData.append("timezone", tz);

        return formData;
    }

    function send_mail() {
        var formData = prepareFormData();

        $("#send_button").prop("disabled", true);
        $.ajax({
            type: 'POST',
            url: `https://sahra.mobikob.com/mobimail/conversation/${formData.get("conversation_id")}/send_message/`,
            data: formData,
            processData: false,
            contentType: false,
            success: function(resp) {
                clear_mail_form();
                Swal.fire({
                    title: 'Mail Gönderildi',
                    html: '',
                    allowOutsideClick: () => !Swal.isLoading(),
                });
            },
            error: function(XMLHttpRequest, textStatus, errorThrown) {
                console.log(XMLHttpRequest.responseText);
            },
            complete: function() {
                $("#send_button").prop("disabled", false);
            }
        });
    }


    function clear_mail_form() {
        uploaded_file_size = 0;
        $("#select_mailbox").val("none");
        mail_to_selectize.clear();
        mail_cc_selectize.clear();
        mail_bcc_selectize.clear();
        $("#mail_subject").val("");
        CKEDITOR.instances.editor1.setData("");
        $("#file_upload_area").html("");

    }

    function check_mail_form() {
        var mailbox = $('#select_mailbox').val();
        var subject = $('#mail_subject').val();
        var body = CKEDITOR.instances.editor1.getData();
        var to = $('#mail_to').val();
        console.log(subject);
        if (mailbox == "none")
            return {
                result: false,
                message: "Lütfen mail kutusu seçiniz",
                type: "info"
            }
        if (!to)
            return {
                result: false,
                message: "Lütfen kime kısmını seçiniz",
                type: "info"
            }
        if (!subject)
            return {
                result: false,
                message: "Konu alanı boş olamaz",
                type: "info"
            }

        if (!body) {
            return {
                result: false,
                message: "Posta gövde boş olarak gönderilsin mi?",
                type: "ask"
            }
        }

        return {
            result: true
        }
    }

    function filename_checker(file_name) {
        if ($(`div[file_name_hash|=${file_name.hashCode()}]`).length) {
            filename_checker(`${file_name}1`);
        }
        return file_name;

    }

    function sendNotif() {

        document.getElementById("notif").style.visibility = "visible";
        document.getElementById("notif").style.display = "block";


    }

    function create_file_div(file_name, file_size) {
        var split = file_name.split(".")
        var extension = split[split.length - 1]
        var file_type_map = {
            "pdf": "fa-file-pdf-o",
            "xls": "fa-file-excel-o",
            "xlsx": "fa-file-excel-o",
            "doc": "fa-file-word-o",
            "docx": "fa-file-word-o",
            "ppt": "fa-file-powerpoint-o",
            "pptx": "fa-file-powerpoint-o",
            "png": "fa-file-image-o",
            "PNG": "fa-file-image-o",
            "JPG": "fa-file-image-o",
            "jpg": "fa-file-image-o",
            "jpeg": "fa-file-image-o",
            "JPEG": "fa-file-image-o",
        }
        if (file_type_map[extension] == undefined) {
            file_type = "fa-file";
        } else {
            file_type = file_type_map[extension];
        }
        var file_name_hash = file_name.hashCode();
        var p_file_name = file_name;
        if (file_name.length > 20) {
            p_file_name = file_name.substring(0, 20) + "...";
        }
        var html = `<div class="uploaded col-md-4" file_name_hash="${file_name_hash}" file_size="${file_size}">
                <i class="fa ${file_type} file_class"></i>
                <div class="file col-md-12">
                    <div class="file__name">
                        <p title="${file_name}">${p_file_name}</p>
                        <i class="fa fa-times" onclick="delete_file_div('${file_name}')"></i>
                    </div>
                    <div class="progress" progress_hash="${file_name_hash}">
                        <div class="progress-bar bg-success progress-bar-striped progress-bar-animated" style="width:100%"></div>
                    </div>
                </div>
            </div>`;

        $("#file_upload_area").append(html);
    }



    var h = ((window.innerHeight) - 215);
    CKEDITOR.replace('editor1', {
        width: '100%',
        height: h,
        uiColor: '#CCEAEE',
        toolbar: [{
            name: 'clipboard',
            items: ['Cut', 'Copy', 'Paste', 'PasteText', 'PasteFromWord', '-', 'Undo', 'Redo']
        }, {
            name: 'basicstyles',
            items: ['Bold', 'Italic', 'Underline']
        }, {
            name: 'paragraph',
            items: ['NumberedList', 'BulletedList', 'JustifyLeft', 'JustifyCenter', 'JustifyRight', 'JustifyBlock', ]
        }, {
            name: 'links',
            items: ['Link', 'Unlink', ]
        }, {
            name: 'styles',
            items: ['Font', 'FontSize']
        }, ],
        contentsCss: [
            'http://cdn.ckeditor.com/4.15.0/full-all/contents.css',
            'https://ckeditor.com/docs/vendors/4.15.0/ckeditor/assets/css/classic.css'
        ]
    });

    function delete_file_div(file_name) {
        var file_id = $(`div[file_name_hash|=${file_name.hashCode()}]`).attr("id");
        var file_size = $(`div[file_name_hash|=${file_name.hashCode()}]`).attr("file_size");

        $.ajax({
            type: 'GET',
            url: `https://sahra.mobikob.com/filesystem/file/${file_id}/delete/`,
            success: function(resp) {
                $(`#${file_id}`).remove();
                uploaded_file_size = uploaded_file_size - file_size;
            },
            error: function(XMLHttpRequest, textStatus, errorThrown) {
                console.log(XMLHttpRequest.responseText);
            },
            complete: function() {

            }
        });

    }

    Object.defineProperty(String.prototype, 'hashCode', {
        value: function() {
            var hash = 0,
                i, chr;
            for (i = 0; i < this.length; i++) {
                chr = this.charCodeAt(i);
                hash = ((hash << 5) - hash) + chr;
                hash |= 0; // Convert to 32bit integer
            }
            return hash;
        }
    });

    var mail_to_selectize;
    var mail_cc_selectize;
    var mail_bcc_selectize;

    function render_mail_to(data) {
        var search_mail_to = $("#mail_to").selectize({
            plugins: ['remove_button'],
            delimiter: ',',
            persist: false,
            maxItems: 1,
            valueField: 'email',
            labelField: 'name',
            searchField: ['email', 'name'],
            create: function(input) {
                return {
                    name: input,
                    email: input,
                    search: input,
                }
            },
            options: data,
            render: {
                option: function(item, escape) {
                    return '<div>' +
                        '<span class="title">' +
                        '<span class="name">' + escape(item.name) + '<br/>' + escape(item.email) + '</span>' +
                        '</span>' +
                        '</div>';
                }
            },

        });

        mail_to_selectize = search_mail_to[0].selectize;
    }
    //--------------------------- Cc -------

    var mail_cc_selectize;

    function render_mail_cc(data) {
        var search_mail_cc = $("#mail_cc").selectize({
            plugins: ['remove_button'],
            delimiter: ',',
            persist: false,
            maxItems: 5,
            valueField: 'email',
            labelField: 'name',
            searchField: ['email', 'name'],
            create: function(input) {
                return {
                    name: input,
                    email: input,
                    search: input,
                }
            },
            options: data,
            render: {
                option: function(item, escape) {
                    return '<div>' +
                        '<span class="title">' +
                        '<span class="name">' + escape(item.name) + '<br/>' + escape(item.email) + '</span>' +
                        '</span>' +
                        '</div>';
                }
            },

        });

        mail_cc_selectize = search_mail_cc[0].selectize;
    }

    //--------------------------- bCc -------

    var mail_bcc_selectize;

    function render_mail_bcc(data) {
        var search_mail_bcc = $("#mail_bcc").selectize({
            plugins: ['remove_button'],
            delimiter: ',',
            persist: false,
            maxItems: 5,
            valueField: 'email',
            labelField: 'name',
            searchField: ['email', 'name'],
            create: function(input) {
                return {
                    name: input,
                    email: input,
                    search: input,
                }
            },
            options: data,
            render: {
                option: function(item, escape) {
                    return '<div>' +
                        '<span class="title">' +
                        '<span class="name">' + escape(item.name) + '<br/>' + escape(item.email) + '</span>' +
                        '</span>' +
                        '</div>';
                }
            },

        });

        mail_bcc_selectize = search_mail_bcc[0].selectize;
    }




    $(document).ready(function() {



        $.ajax({
            type: 'POST',
            url: `https://sahra.mobikob.com/crm/customers/all/get/`,
            data: {
                columns: "name,email"
            },
            success: function(resp) {
                var data = new Array();
                $.each(resp.data, function(key, value) {
                    if (value[1] != "" && value[2] != "") {
                        data.push({
                            "name": value[1],
                            "email": value[2]
                        });
                    }
                })
                render_mail_to(data);
                render_mail_cc(data);
                render_mail_bcc(data);
            },
            error: function(XMLHttpRequest, textStatus, errorThrown) {
                console.log(XMLHttpRequest.responseText);
            },
            complete: function() {

            },
            beforeSend: function(xhr) {
                xhr.setRequestHeader("Authorization", "Basic " + btoa("gokhan@sahratelekom.com" +
                    ":" + "qaz123"));
            },
        });




        $("#custom_file_btn").click(function() {
            $(this).val("");
            $("#input_file").trigger('click');
        });

        $("#input_file").click(function() {
            $(this).val("");
        });


        $("#input_file").change(function() {
            var file = event.target.files;
            var formData = new FormData();
            var check_file_size = 0;
            var file_counter = 0;
            var allowed_size = 15360000;
            formData.append("mailbox", 'test');
            var file_names_to_create_file_uploads = new Array();

            for (var i = 0; i < file.length; i++) {
                var file_name = slugify(file[i].name, "fileformat");
                file_name = filename_checker(file_name);
                check_file_size = file[i].size + check_file_size
                formData.append(`file_${i}`, file[i], file_name);
                console.log("local", file_name);
                file_names_to_create_file_uploads.push({
                    "file_name": file_name,
                    "file_size": file[i].size
                });
            }
            var total_size = uploaded_file_size + check_file_size
            if (total_size <= allowed_size) {
                $.each(file_names_to_create_file_uploads, function(index, item) {
                    create_file_div(item.file_name, item.file_size);
                });
                $.notify({
                    message: "Dosya eklendi"
                }, {
                    type: "info"
                });
                $("#send_button").prop("disabled", true);
                $("#custom_file_btn").prop("disabled", true);
                $.ajax({
                    type: 'POST',
                    url: 'https://sahra.mobikob.com/mobimail/upload_attachment/',
                    dataType: 'json',
                    contentType: false,
                    processData: false,
                    data: formData,
                    success: function(resp) {
                        console.log(resp);
                        $.each(resp, function(index, item) {
                            uploaded_file_size = item.size + uploaded_file_size;
                            console.log("sunucu", item.filename);
                            $(`div[file_name_hash|=${item.filename.hashCode()}]`)
                                .attr("id", item.content);
                            console.log("sunucu", item.filename);

                            $(`div[progress_hash="${item.filename.hashCode()}"]`)
                                .remove();
                        });
                    },
                    complete: function(resp) {
                        $("#send_button").prop("disabled", false);
                        $("#custom_file_btn").prop("disabled", false);
                    }
                });
            } else if (total_size > allowed_size) {
                file_names_to_create_file_uploads = [];

                $.notify({
                    message: "Gönderilecek dosya 15 MB 'den fazla olamaz"
                }, {
                    type: "info"
                });
                $("#input_file").val("");
                return;
            }
        });

        $.ajax({
            type: 'GET',
            url: `https://sahra.mobikob.com/mobimail/mailbox/all/fetch/`,
            success: function(resp) {
                $.each(resp, function(index, item) {
                    var o =
                        `<option username="${item.username}" value="${item.i_mailbox}">${item.display_name}</>`;
                    $("#select_mailbox").append(o);
                });
                $("#select_mailbox").val("none");
            },
            error: function(XMLHttpRequest, textStatus, errorThrown) {
                console.log(XMLHttpRequest.responseText);
            },
            complete: function() {

            }
        });

        $.ajax({
            type: 'GET',
            url: `https://sahra.mobikob.com/mobimail/markt_mail/template/all/fetch/`,
            success: function(resp) {
                $.each(resp, function(index, item) {
                    var o =
                        `<option value="${item.id}">${item.name}</>`;
                    $("#select_template").append(o);
                });
                $("#select_template").val("none");
            },
            error: function(XMLHttpRequest, textStatus, errorThrown) {
                console.log(XMLHttpRequest.responseText);
            },
            complete: function() {

            }
        });

    });

    $("#select_template").change(function() {
        template_id = this.value;
        if (template_id == "none") {
            CKEDITOR.instances.editor1.setData("");
            return;
        }

        $.ajax({
            type: 'GET',
            url: `https://sahra.mobikob.com/mobimail/markt_mail/template/${template_id}/fetch/`,
            success: function(resp) {
                console.log(resp);
                CKEDITOR.instances.editor1.setData(resp.html);

            },
            error: function(XMLHttpRequest, textStatus, errorThrown) {
                console.log(XMLHttpRequest.responseText);
            },
            complete: function() {

            }
        });





    }); //onready bitiş--------------------

    function slugify(text, case_status = "lower") {
        if (case_status == "upper") {
            return text.toString().toUpperCase()
                .replace(/\s+/g, '-') // Replace spaces with -
                .replace(/[^\w\-]+/g, '') // Remove all non-word chars
                .replace(/\-\-+/g, '-') // Replace multiple - with single -
                .replace(/^-+/, '') // Trim - from start of text
                .replace(/-+$/, '').replace("-", ""); // Trim - from end of text
        }
        if (case_status == "fileformat") {

            text = text.toString().replace("ç", "c").replace("Ç", "C").replace("ğ", "g")
                .replace("Ğ", "G").replace("ı", "i").replace("İ", "I").replace("ö", "o")
                .replace("Ö", "O").replace("ş", "s").replace("Ş", "S").replace("ü", "u")
                .replace("Ü", "U");

            return text.replace(/\s+/g, '-') // Replace spaces with -
                .replace(/[^\w\-\.]+/g, '') // Remove all non-word chars
                .replace(/\-\-+/g, '-') // Replace multiple - with single -
                .replace(/^-+/, '') // Trim - from start of text
                .replace(/-+$/, '').replaceAll("-", "_");
        }
        return text.toString().toLowerCase()
            .replace(/\s+/g, '-') // Replace spaces with -
            .replace(/[^\w\-]+/g, '') // Remove all non-word chars
            .replace(/\-\-+/g, '-') // Replace multiple - with single -
            .replace(/^-+/, '') // Trim - from start of text
            .replace(/-+$/, '').replace("-", ""); // Trim - from end of text
    }
</script>